<style>
  h1{
    text-align:center;
    color:red;
    font-size:60px;
  }
  a{
    float:right;
    font-size:12;
  }
  h2 {
    text-align:center;
    font-size:30px;
  }
</style>
<div class="container">
  <h1  >WARNING!</h1><br><br><br>
  <h2>삭제 권한이 없습니다</h2>
  <a href="/" type="button" >돌아가기</a>
</div>